In [10]:
import pandas as pd
df=pd.read_csv("C:\\cookiecutter-data-science\\Titanic Project\\data\\rawdata\\test.csv")

In [11]:
print(df.head(10))

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female
5          897       3                    Svensson, Mr. Johan Cervin    male
6          898       3                          Connolly, Miss. Kate  female
7          899       2                  Caldwell, Mr. Albert Francis    male
8          900       3     Abrahim, Mrs. Joseph (Sophie Halaut Easu)  female
9          901       3                       Davies, Mr. John Samuel    male

    Age  SibSp  Parch     Ticket     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S
5  14.0      0      0       7538   9.2250   NaN        S
6  30.0      0      0     330972   7.6292   NaN        Q
7  26.0      1      1     248738  29.0000   NaN        S
8  18.0      0      0       2657   7.2292   NaN        C
9  21.0      2      0  A/4 48871  24.1500   NaN        S

In [12]:
print(df.describe())

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200