In [39]:
#import
import requests
from bs4 import BeautifulSoup

In [40]:
#Creating an html string
htmlstring="""
<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>

<p>My first paragraph.</p>

<table style="width:100%">
  <tr id="row1">
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr id="row2">
    <td>Michael</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr id="row3">
    <td>Eve</td>
    <td>Cambage</td> 
    <td>94</td>
  </tr>
</table>

</body>
</html>
"""

In [41]:
#display the html in jupyter notebook
from IPython.core.display import display,HTML
display(HTML(htmlstring))

In [42]:
#Using Beautiful soup
bsexample=BeautifulSoup(htmlstring)

In [43]:
print(bsexample)

<!DOCTYPE html>
<html>
<body>
<h1>My First Heading</h1>
<p>My first paragraph.</p>
<table style="width:100%">
<tr id="row1">
<th>Firstname</th>
<th>Lastname</th>
<th>Age</th>
</tr>
<tr id="row2">
<td>Michael</td>
<td>Smith</td>
<td>50</td>
</tr>
<tr id="row3">
<td>Eve</td>
<td>Cambage</td>
<td>94</td>
</tr>
</table>
</body>
</html>

In [44]:
#Extracting the body of an htmL tag
body=bsexample.find(name="body")

In [45]:
print(body)

<body>
<h1>My First Heading</h1>
<p>My first paragraph.</p>
<table style="width:100%">
<tr id="row1">
<th>Firstname</th>
<th>Lastname</th>
<th>Age</th>
</tr>
<tr id="row2">
<td>Michael</td>
<td>Smith</td>
<td>50</td>
</tr>
<tr id="row3">
<td>Eve</td>
<td>Cambage</td>
<td>94</td>
</tr>
</table>
</body>

In [17]:
#Extracting the paragraph
paragraph=bsexample.find(name="p")

In [18]:
print(paragraph)

<p>My first paragraph.</p>

In [20]:
#Extracting the table
table=bsexample.find(name="table")

In [21]:
print(table)

<table style="width:100%">
<tr>
<th>Firstname</th>
<th>Lastname</th>
<th>Age</th>
</tr>
<tr>
<td>Michael</td>
<td>Smith</td>
<td>50</td>
</tr>
<tr>
<td>Eve</td>
<td>Cambage</td>
<td>94</td>
</tr>
</table>

In [22]:
row=bsexample.find(name="tr")

In [46]:
print(row)

<tr>
<td>Eve</td>
<td>Cambage</td>
<td>94</td>
</tr>

In [47]:
#find all values for a tag
rows=bsexample.findAll(name="tr")

In [48]:
print(rows)

[<tr id="row1">
<th>Firstname</th>
<th>Lastname</th>
<th>Age</th>
</tr>, <tr id="row2">
<td>Michael</td>
<td>Smith</td>
<td>50</td>
</tr>, <tr id="row3">
<td>Eve</td>
<td>Cambage</td>
<td>94</td>
</tr>]

In [49]:
#loop through rows and print
for row in bsexample.findAll(name="tr"):
    print(row)

<tr id="row1">
<th>Firstname</th>
<th>Lastname</th>
<th>Age</th>
</tr>
<tr id="row2">
<td>Michael</td>
<td>Smith</td>
<td>50</td>
</tr>
<tr id="row3">
<td>Eve</td>
<td>Cambage</td>
<td>94</td>
</tr>

In [61]:
print(bsexample.find(name="tr", attrs={"id":"row1"}))

<tr id="row1">
<th>Firstname</th>
<th>Lastname</th>
<th>Age</th>
</tr>

In [79]:
# a working example
body=bsexample.find(name="body")
table=body.find(name="table")
#print(table)
#now we extract data in table
for row in table.findAll(name="tr")[1:]:
    givenname=row.findAll(name="td")[0].text
    familyname=row.findAll(name="td")[1].text
    print(givenname,familyname)

Michael Smith
Eve Cambage